.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  path,
  circle,
  rect,
  line,
  polyline,
  polygon {
    stroke: var(--inverted-primary-color);
  }
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.collapseBtn {
  position: absolute;
  right: 20px;
}