.app.dark,
.app_modal.dark {
  --bg-color: #6869d3;
  --inverted-bg-color: #c3c3d0;
  --primary-color: #57ff00;
  --secondary-color: #ea1818;
  --inverted-primary-color: #1f0208;
  --inverted-secondary-color: #d717be;
}