.app.light {
  --bg-color: #c3c3d0;
  --inverted-bg-color: #6869d3;

  --primary-color: #1f0208;
  --secondary-color: #d717be;

  --inverted-primary-color: #57ff00;
  --inverted-secondary-color: #ea1818;
}