.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--modal-closed-z-index);
  transition: 0.3s opacity;
  opacity: 0;
  pointer-events: none;
  color: var(--primary-color);
}

.overlay {
  background-color: var(--overlay-bg);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transition: 0.3s transform;
  transform: scale(0.5);
  max-width: 60%;
}

.opened {
  transition: 0.3s opacity;
  opacity: 1;
  pointer-events: all;
  z-index: var(--modal-opened-z-index);

  .content {
    transform: scale(1);
  }
}

.isClosing {
  opacity: 0;

  .content {
    transform: scale(0.1);
  }
}